*
!.gitignore
!.gitkeep
!.gitmodules
!LICENSE
!*.md

!/.clangd
!/CMakeLists.txt
!/Makefile
!/uninstall.sh

!/include/
!/include/**/
!/include/**/*.h

!/src/
!/src/**/
!/src/**/CMakeLists.txt
!/src/**/*.c
!/src/**/*.h
